*, ::after, ::before{
    font-family: Verdana, Geneva, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.main{
width: 350px;
height: 250px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 30px;
    background-color:#fff ;
}
.code{
    font-size: 3rem;
 
}
button{
    background-color: #1687a7;
    border: none;
    color:#fff;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover{
    background-color: #0d5773;
}